html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// loadger css
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: theme('colors.blue.500') transparent theme('colors.blue.500') transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chevron-right {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #666;
  border-top: 2px solid #666;
  transform: rotate(45deg);
}

.close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: .5rem;
  top: 0;
  cursor: pointer;
}
.close-button:before,
.close-button:after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background-color: rgb(180, 180, 180);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
}

.close-button:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.main-banner {
  background-image: linear-gradient(90deg, #72A0C1 30%, #F08080 50%, #72A0C1 100%);
  font-family: 'Merienda One', cursive;
}

.header {
  width: 100%;
  height: 80px;
}
